body {
  font-family: 'Lato', sans-serif;
 }

.container {

  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.title {
  font-variant: small-caps;
  padding: 8px;
  width: 100%;
}
  /* order: 1; } */

.oneCat {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

picture {
  width: 40%;
}

.cat_photo {
  border-radius: 8px;
  width:100%;
}

.description {
  flex-wrap: wrap;
  /* float: left; */
  width: 50%;
  /* order: 2; */
  font-size: 1.4em;
  padding-left: 10px;
 }

.score_pannel  {
   font-size: 0.9em;
   /* float:right; */
   width: 60%;
   /* order: 3; */
   }



/* .commentPanel {
  font-size: 1.2em;
  padding-top: 20px;
  float:right;
  width: 30%;
  order: 4;
   } */

/* .comment {
  border-radius: 8px;
  margin-top: -5px;
  height: 200px;
  width: 100%;
  background-color: PaleTurquoise;
} */

td {
  padding:4px;
}

.fa-heart{
  color: DarkTurquoise;
}
